h1{
    text-align: center;
}

form {
    /* border: 1px solid blue; */
    padding: 10px;
}

.left_label {
    width: 90px;
    display: inline-block;
    /* border: 1px solid blue; */
}

.radio_sexo {
    margin-right: 10px;
}